//generic fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

// 1. Global
// ---------

// grayscale
$black: #000;
$dark-gray: #1f1f1f;
$gray: #797979;
$light-gray: #909090;
$white: #fff;
$button: #274370;

$default-bg-color: #fefefe;

$alert-red: #e2482b;
$status-red: #e2482b;
$status-warning: #f5af42;
$status-success: #50d337;

// 2. Typography
// -------------
$default-font: 'Titillium Web', normal;
$heading-font: 'Titillium Web', normal;
$alt-font: 'Titillium Web', normal;
$form-label-size-default: 1.25rem;
$form-label-size-mobile: 1.5rem;


// 3. Shadows
// --------------
$default-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
$box-shadow-no-bottom:  0 2px 2px 0 rgba(0,0,0,0.14), 0 -2px 5px 0 rgba(0,0,0,0.12), 0 -2px 1px -2px rgba(0,0,0,0.2);
$box-shadow-no-top:  0 2px 2px 0 rgba(0,0,0,0.14), 0 2px 5px 0 rgba(0,0,0,0.12), 0 2px 1px -2px rgba(0,0,0,0.2);


// 4. Breakpoints
// --------------
$medium: "(min-width: 768px)";
$large: "(min-width: 1024px)";
$xlarge: "(min-width: 1201px)";
$xxlarge: "(min-width: 1441px)";

// 5. Style defaults
$default-image-bg: linear-gradient(305.41deg, #333 0%, #999 52.04%, #ccc 100%);
