#app {
  color: $light-gray;
  background-color: $dark-gray;
  height: 2000px;
}

$height: 80px;

.header {
  background-color: $light-gray;
  background: linear-gradient($dark-gray, $black);
  color: $light-gray;
  margin-bottom: 1rem;
  border-bottom: $dark-gray solid 2px;

  h1 {
    font-size: 1.4rem;
    margin: 0;
  }
}

.recorder {
  //margin: 1rem auto !important;

  .video {
    width: 100%;
  }
  
  .uploader {
    height: 300px;
    padding: 150px;
    border: 3px gray dashed;
  }

  .visualizer, .visualizer-range {
    position: fixed;
    left: 0;
    bottom: 0;
    height: $height;
    width: 100%;
  }

  .visualizer-range {
    -webkit-appearance: none;
    background: #d3d3d3;
    outline: none;
    opacity: 0.2;
    -webkit-transition: .2s;
    transition: opacity .2s;
    z-index: 100;

    &:hover {
        opacity: .4;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: $height;
        background: #4CAF50;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 25px;
        height: $height;
        background: #4CAF50;
        cursor: pointer;
    }
  }

  .buttons {
    margin-top: 1rem;
  }

  .audio_track {
    list-style: none;
    width:100%;

    a {
      line-height: 55px;
      vertical-align: middle;
      display: inline-block;
      float: left;
      margin-right: 1rem;
      color: $light-gray;
      width:100%;
    }

    audio {
      float: left;
      width:100%;
    }
  }

  .play-button {
    background-color: $button;
  }

  .record-button {
    background-color: $button;
    padding: 12px 15px;

    &--on {
      background-color: $alert-red;
    }
  }
}
